<!DOCTYPE html>
<html>
    <head>
        <title>Insert Armor</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/Main.css">
    </head>
    <body>
        <div class="banner container-fluid">
            <h1>Insert Armor</h1>    
        </div>
        <div class="container">
            <h3>General Information</h3>
            <form class="form-horizontal" action="/admin/armors" method="POST">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Name:</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="name" required>    
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Defense Bonus:</label>
                    <div class="col-sm-10">
                        <input class="numericField form-control" type="text" name="defBonus" required>    
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Max Dexterity Bonus:</label>
                    <div class="col-sm-10">
                        <input class="numericField form-control" type="text" name="maxDexBonus" required>    
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Required Feat:</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="reqFeat" required>
                          <option>Armor Proficiency: Light</option>
                          <option>Armor Proficiency: Medium</option>
                          <option>Armor Proficiency: Heavy</option>
                          <option>Jedi Defense</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Affinity Restriction:</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="affinityRestriction" required>
                          <option>None</option>
                          <option>Light Side</option>
                          <option>Dark Side</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Image Url:</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="imageURL" required>    
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Description:</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" rows="4" name="description" required></textarea>
                    </div>
                </div>
                <hr>
                <h3>Damage Resistances</h3>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Cold:</label>
                    <div class="col-sm-10">
                        <input class="numericField form-control" type="text" name="cold" required>    
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Fire:</label>
                    <div class="col-sm-10">
                        <input class="numericField form-control" type="text" name="fire" required>    
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Sonic:</label>
                    <div class="col-sm-10">
                        <input class="numericField form-control" type="text" name="sonic" required>    
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Electrical:</label>
                    <div class="col-sm-10">
                        <input class="numericField form-control" type="text" name="electrical" required>    
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Bludgeoning:</label>
                    <div class="col-sm-10">
                        <input class="numericField form-control" type="text" name="bludgeoning" required>    
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Slashing:</label>
                    <div class="col-sm-10">
                        <input class="numericField form-control" type="text" name="slashing" required>    
                    </div>
                </div>
                <hr>
                <h3>Attributes</h3>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Strength:</label>
                    <div class="col-sm-10">
                        <input class="numericField form-control" type="text" name="strength" required>    
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Dexterity:</label>
                    <div class="col-sm-10">
                        <input class="numericField form-control" type="text" name="dexterity" required>    
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Constitution:</label>
                    <div class="col-sm-10">
                        <input class="numericField form-control" type="text" name="constitution" required>    
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Intelligence:</label>
                    <div class="col-sm-10">
                        <input class="numericField form-control" type="text" name="intelligence" required>    
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Wisdom:</label>
                    <div class="col-sm-10">
                        <input class="numericField form-control" type="text" name="wisdom" required>    
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Charisma:</label>
                    <div class="col-sm-10">
                        <input class="numericField form-control" type="text" name="charisma" required>    
                    </div>
                </div>
                <hr>
                <h3>Skills</h3>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Awareness:</label>
                    <div class="col-sm-10">
                        <input class="numericField form-control" type="text" name="awareness" required>    
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Computer Use:</label>
                    <div class="col-sm-10">
                        <input class="numericField form-control" type="text" name="computerUse" required>    
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Demolitions:</label>
                    <div class="col-sm-10">
                        <input class="numericField form-control" type="text" name="demolitions" required>    
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Repair:</label>
                    <div class="col-sm-10">
                        <input class="numericField form-control" type="text" name="repair" required>    
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Security:</label>
                    <div class="col-sm-10">
                        <input class="numericField form-control" type="text" name="security" required>    
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Stealth:</label>
                    <div class="col-sm-10">
                        <input class="numericField form-control" type="text" name="stealth" required>    
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Treat Injury:</label>
                    <div class="col-sm-10">
                        <input class="numericField form-control" type="text" name="treatInjury" required>    
                    </div>
                </div>
                <hr>
                <h3>Saves</h3>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Fortitude:</label>
                    <div class="col-sm-10">
                        <input class="numericField form-control" type="text" name="fortitude" required>    
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Reflex:</label>
                    <div class="col-sm-10">
                        <input class="numericField form-control" type="text" name="reflex" required>    
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Will:</label>
                    <div class="col-sm-10">
                        <input class="numericField form-control" type="text" name="will" required>    
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Immunity:</label>
                    <div class="col-sm-10">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="immunity1" value="Critical Hits"> Critical Hits
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="immunity2" value="Mind-Affecting"> Mind-Affecting
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="immunity3" value="Poison"> Poison
                        </label>
                    </div>
                </div>
                <hr>
                <h3>Miscellaneous</h3>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Life Regeneration:</label>
                    <div class="col-sm-10">
                        <input class="numericField form-control" type="text" name="lifeRegeneration" required>    
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Force Regeneration:</label>
                    <div class="col-sm-10">
                        <input class="numericField form-control" type="text" name="forceRegeneration" required>    
                    </div>
                </div>
                
                
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <button class="btn btn-primary btn-lg btn-block">Submit</button>    
                </div>
            </form>
        </div>
        <script>
            var controls = document.getElementsByClassName('numericField')
            
            for(var i = 0; i < controls.length; i++) {
                controls[i].addEventListener('keypress', function(event) {
                    var key = event.which;
                    if((key < 48 || key > 57) && key !== 8 && key !== 0) {
                        event.preventDefault();
                    }
                });
            }
        </script>
    </body>
</html>